appdirs==1.4.3
argcomplete==1.8.2
asn1crypto==0.22.0
Beaker==1.8.1
beautifulsoup4==4.5.3
bleach==2.0.0
certifi==2017.4.17
cffi==1.10.0
colorama==0.3.9
cryptography==1.9
cycler==0.10.0
decorator==4.0.11
entrypoints==0.2.2
enum34==1.1.6
future==0.16.0
fuzzywuzzy==0.15.0
gmusicapi==10.1.2
gpsoauth==0.4.1
hgapi==1.7.2
html5lib==0.999999999
httplib2==0.10.3
idna==2.5
intelhex==2.1
ipykernel==4.6.1
ipython==6.0.0
ipython-genutils==0.2.0
ipywidgets==6.0.0
jedi==0.10.2
Jinja2==2.9.6
jsonpointer==1.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.0.1
jupyter-console==5.1.0
jupyter-core==4.3.0
lightdm-gtk-greeter-settings==1.2.1
louis==3.0.0
Mako==1.0.6
MarkupSafe==1.0
matplotlib==2.0.2
mbed-test-wrapper==0.0.3
MechanicalSoup==0.6.0
meson==0.40.1
mistune==0.7.4
mock==2.0.0
mpld3==0.3
mpmath==0.19
mutagen==1.37
nbconvert==5.1.1
nbformat==4.3.0
notebook==5.0.0
numpy==1.12.1
oauth2client==4.0.0
packaging==16.8
pandas==0.20.1
pandocfilters==1.4.1
pathlib==1.0.1
pexpect==4.2.1
pickleshare==0.7.4
proboscis==1.2.6.0
project-generator==0.8.16
project-generator-definitions==0.2.31
prompt-toolkit==1.0.14
protobuf==3.3.0
psycopg2==2.7.1
ptyprocess==0.5.1
pyasn1==0.2.3
pyasn1-modules==0.0.8
PyBluez==0.22
pycairo==1.13.1
pycparser==2.17
pycryptodomex==3.4.5
pyelftools==0.23
PyGithub==1.34
Pygments==2.2.0
pygobject==3.24.1
PyJWT==1.5.2
pyOCD==0.8.0
pyOpenSSL==17.1.0
pyparsing==2.2.0
pyserial==3.2.1
python-dateutil==2.6.0
python-Levenshtein==0.12.0
pytz==2017.2
pyusb==1.0.0
PyYAML==3.12
pyzmq==16.0.2
qtconsole==4.3.0
ranger==1.8.1
Reflector==2017.1.7.0.23.12
requests==2.13.0
rsa==3.4.2
scipy==0.19.0
semantic-version==2.5.0
simplegeneric==0.8.1
six==1.10.0
sympy==1.0
team==1.0
terminado==0.6
testpath==0.3
tornado==4.5.1
traitlets==4.3.2
validictory==1.1.1
valinor==0.0.15
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.40.0
widgetsnbextension==2.0.0
xmltodict==0.11.0
yotta==0.18.2
